name: Check URLs
on:
  # push:
  pull_request:
  schedule:
    - cron: "0 0 1 * *" # Run monthly

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: lychee Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v1.5.4
      - name: Comment on failure
        uses: peter-evans/create-or-update-comment@v1
        if: env.lychee_exit_code != 0
        with:
          issue-number: 26
          body: |
            An URL check [failed](https://github.com/loicreynier/awesome-modding/actions/runs/${{ github.run_id }}).
      - name: Fail if there were link errors
        run: exit ${{ env.lychee_exit_code }}
